<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>123</title>
    </head>
    <body>
        <!--在页面表单中采用modelName.attrName形式为作为表单域的name-->
        <form action="/blog/save" method="post">
            <input name="blog.title" type="text">
            <input name="blog.content" type="text">
            <input value="提交" type="submit">
        </form>


        <!--在页面表单中采用modelName.attrName形式为作为表单域的name-->
        <form action="/blog/save2" method="post">
            <input name="title" type="text">
            <input name="content" type="text">
            <input value="提交" type="submit">
        </form>
    </body>
</html>